fastapi
uvicorn
motor
certifi
dnspython
pydantic[email]
pydantic-settings
pyjwt
cryptography
httpx
faker
python-multipart
firebase-admin
numpy
fastembed
openai
python-dotenv
qrcode
google-generativeai
