fastapi
uvicorn
motor
certifi
dnspython
pydantic[email]
pydantic-settings
pyjwt
cryptography
httpx
faker
python-multipart
firebase-admin
numpy
scikit-learn
sentence-transformers
openai
python-dotenv
qrcode[pil]
